body > header {
    background-color: #046DD5;
    color: #FFF;
    padding: 1em;
}

#signup {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#signup a:first-child {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid;
}

#related {
    background-color: #2A2F33;
    color: #FFF;
    padding: 1em;
}