@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Imperial+Script&family=Playfair+Display&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

main {
    width: 65%;
    margin: auto;
}

body > header {
    font-family: 'Imperial Script', cursive;
    font-size: 2em;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
}

article {
    background-color: rgb(245,237,227);
    padding: 1em;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: right;
}

p {
    font-family: 'Crimson Pro', serif;
    font-size: 1em;
    text-align: left;
    spacing: 2em;
}